/wiki2/solution2.txt
/file-chat/file-chat.exe
/file-chat/start-with-key-pan.bat
/file-chat/*.exe~
/file-chat/jobs
/node_modules
/scripts/start-nextchat.bat
/scripts/start-filechat.bat
/file-chat/data/files
/Release/*.exe
/file-chat/*.bak
/Release/start-with-key-pan.bat
